{% extends 'base.html.twig' %}

{% block title %}Biometric{% endblock %}

{% block body %}
    <h1>Biometric</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ biometric.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ biometric.nombre }}</td>
            </tr>
            <tr>
                <th>C_ojos</th>
                <td>{{ biometric.cOjos }}</td>
            </tr>
            <tr>
                <th>C_cabello</th>
                <td>{{ biometric.cCabello }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_biometric_index') }}">back to list</a>

    <a href="{{ path('app_biometric_edit', {'id': biometric.id}) }}">edit</a>

    {{ include('biometric/_delete_form.html.twig') }}
{% endblock %}
